* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #252525;
  --purple: #6930C3;
  --teal: #64DFDF;
  --mint: #80FFDB;
}

body {
  background-color: #252525;
  color: var(--mint);
  font-family: 'Roboto Mono', monospace;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--teal);
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: 600;
  place-self: center;
  width: 95%;
}

.btn:focus,
.btn:hover {
  background-color: var(--mint);
}

.timer-container {
  border: solid 3px var(--purple);
  border-radius: 10px;
  display: grid;
  grid-template-areas: 
    'name timer timer'
    'start pause reset';
  row-gap: 1rem;
  padding: 1rem;
}

.timer-name {
  place-self: center;
  grid-area: name;
}

.timer-time {
  place-self: center;
  grid-area: timer;
  font-size: 2rem;
}

.timer-start {
  grid-area: start;
}
.timer-pause {
  grid-area: pause;
}
.timer-reset {
  grid-area: reset;
}

