* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #252525;
  --light-bg: rgb(56, 56, 56);
  --purple: #6930C3;
  --teal: #64DFDF;
  --mint: #80FFDB;
  --pink: #F637EC;
}

body {
  background-color: #252525;
  color: var(--mint);
  font-family: 'Roboto Mono', monospace;
}

.btn {
  padding: 1rem 2rem;
  background-color: var(--teal);
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: 600;
  place-self: center;
  width: 95%;
}

.btn:focus,
.btn:hover {
  background-color: var(--mint);
}

.timer-container {
  border: solid 3px var(--purple);
  border-radius: 10px;
  display: grid;
  grid-template-areas: 
    'name timer timer'
    'start pause reset';
  row-gap: 1rem;
  padding: 1rem;
}

.timer-name {
  place-self: center;
  grid-area: name;
}

.timer-time {
  place-self: center;
  grid-area: timer;
  font-size: 2rem;
  color: var(--pink)
}

.delete-btn {
  grid-area: timer;
  place-self: start end;
}

.timer-start {
  grid-area: start;
}
.timer-pause {
  grid-area: pause;
}
.timer-reset {
  grid-area: reset;
}

.add-timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-timer-btn {
  margin-top: 1rem;
  padding: .15rem;
  font-size: 6rem;
  border-radius: 50%;
  border: 3px var(--bg-color) solid;
  color: var(--pink);
}

.add-timer-btn:hover,
.add-timer-btn:focus,
.add-timer-btn:active {
  border: 3px var(--pink) solid;
}

.add-timer-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.name-input {
  margin: 1rem;
  padding: .75rem 1rem;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: var(--light-bg);
  color: var(--teal);
}

.name-input:focus,
.name-input:active,
.name-input:hover {
  outline: medium ridge var(--pink);
}

.submit {
  padding: .75rem 1.5rem;
  width: auto;
}


